* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: antiquewhite;
    color: #111111;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 1.00;
}

h1, h2, h3 {
    font-family: "DM Serif Display", Georgia, 'Times New Roman', Times, serif; 
    font-weight: 400;
}

*site-nav {
    background-color: #111111;
}

.site-nav ul {
    list-style: none;
    display: grid;
    grid-template: auto / auto auto auto auto auto;
    gap: 34px;
    width: max-content;
    margin: 0px auto;
    padding: 16px 24px;
}

.site-nav a {
    color: #111111;
    text-decoration: none;
    font-size: 15px;
}

main {
    max-width: 1120px;
    margin: 0px auto;
    padding: 0px 24px;
}

.site-footer {
    background-color: #111111;
    color: aliceblue;
}

.site-footer .inner {
    display: grid;
    grid-template: auto / 1fr 1fr;
    max-width: 1120px;
    margin: 0px auto;
    padding: 34px;
}

.site-footer a {
    color: aliceblue;
}

.site-footer .right {
    text-align: right;
}