* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "DM Serif Display", serif;
}

h1. h2. h3 {
    font-family: "DM Serif Display", Georgia, 'Times New Roman', Times, serif; 
    font-weight: 400;
}